body {
    margin: 0;
}

.container {
    margin-top: 100px;
    padding: 0px; 
}
#mainTitle {
    text-align:center;
    font-size: 3.5rem;
}

#scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    /* white-space: nowrap; */
}

.jumbotron {
    margin-bottom: 0px;
}

.col {
    display: inline-block;
}

.pos {
    background-color: lightpink;
}

.green {
    background-color: #c1e8c1;
}

.yellow {
    background-color: rgb(245, 245, 81);
}

.sameSample {
    background-color: #979899;
}

.brightYellow {
    background-color: yellow;
}

.patientInfo {
    background-color: lightsalmon;
}

.pdxInfo {
    background-color: #ffc145;
}
  

#footer-card {
    left: 0;
    bottom: 0;
    width:100%;
    margin-top: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.card-body {
    padding-top: 8px;
    padding-bottom: 8px;
}

 .copyright {
     margin-bottom: 0px;
     text-align: center;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.help-block {
    color: red;
}

.media-object {
    height: 400px;
}

.popover {
    max-width: inherit;
    background-color: gray;
}

#navbar {
    /* Large padding which will shrink on scroll (using JS) */
    padding: 30px 50px; 
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: 0; /* At the top */
    z-index: 1;
  }

  #welmLab {
      font-size: 20px;
  }

  .headerTitle {
      padding-top: 15px;
  }

  .grey {
      background-color: lightgray;
  }

  .tumorOrderSummary {
      min-height: 200px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top:15px;
      padding-bottom:15px;
  }

  #listTitle {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #listDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .totalCostFlex {
      padding-left: 30px;
      padding-right: 30px;
    }
    .totalCostDiv {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
    }
    
  .red {
      color: red;
  }

  .blueText {
    color: blue;
}

.greenText {
    color: green;
}

  .dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
    }
    #dtHorizontalVerticalExample th, td {
    white-space: nowrap;
    }
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
    }